<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<add key="maxGridSize" value="10" />
		<add key="minGridSize" value="2" />
		<!--35 percent-->
		<add key="maxNumOfMine" value="35" />
		<!--inclusive-->
		<add key="minNumOfMine" value="0" />
	</appSettings>
</configuration>